* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 80%;
    height: 95%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    position: relative;
}

.content p{
    color: black;
    text-transform: uppercase;
    padding: 10px;
}

.content .orange{
    color: rgb(255, 128, 0);
    
}

.main img{
    width: 340px;
    height: 450px;
    position: absolute;
    object-fit: cover;
    z-index: 100;
    
}

.sam{
    color: green;
    position: absolute;
    text-transform: uppercase;
    font-family:Helvetica, Arial, sans-serif;
}
.brand1 h1, .brand2 h1, .brand3 h1{
    display: inline-block;
    font-size: 70.7px;
}

.brand1{
    color: black;
    top: 30%;
    animation: move1 2s 1s ease infinite;
}
.brand2{
    color: rgb(255, 68, 0);
    top: 40%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(63, 62, 62, 0.683);
    color: transparent;
    z-index: 101;
    animation: move2 2s 1s ease infinite;
}
.brand3{
    color: black;
    top: 50%;
    animation: move3 2s 1s ease infinite;

}


@keyframes move1 {
    
    -0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes move2 {
    
    -0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes move3{
    
    -0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}